/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-background: #264653;
  --color-accent: #2A9D8F;
  --color-button: #E76F51;
  --color-body: #E9C46A;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

/* base element styles */

html {
  height: 100%;
}

body {
  background-color: #fff;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.sticky {
  grid-template-rows: 1fr;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--color-background);
}

footer p {
  color: #fff;
  padding: 20px;
  text-align: center; 
}


h1 {
  background-color: var(--color-background);
  color: #fff;
  padding: 20px;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 span {
  color: var(--color-body);
}

h3 {
  color: var(--color-button);
}

/* main */

main {
  margin: 20px;
}

.title {
  margin-top: 70px;
  display: block;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

.title + label {
  margin-top: 30px;
}
label + label {
  margin-top: 20px;
}

.review {
  margin-top: 20px;
}

.review p {
  margin-top: 5px;
  margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    background-color: #f6f8f8;
}

#restaurantReviewInput {
  height: 100px;
}

button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

#reviewButton {
  padding-bottom: 20px;
}

ul {
  padding-left: 0; 
  list-style-type: none;
}

.recent {
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding-bottom: 10px;
}

.review, #flashMessage {
  display: none;
}

#flashMessage {
  margin-top: 15px;
  padding: 10px;
  background: var(--color-button);
  color: white;
  border-radius: 5px;
}

#newRestaurant {
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding-bottom: 30px;
}

.photo-gallery {
  padding-bottom: 30px;
}

.gallery-div {
  text-align: center;
}

/* Modal styles */
#reviewModal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: var(--color-body);
  z-index: 1000;
  overflow: scroll;
  height: 100%;
}

.modal-container {
  width: 80%;
  margin: 15% auto;
}

#closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  background-color: var(--color-background);
}

/* star rating */
.fa, 
.fas {
  color: gold;
}

.wrapper {
  position: relative;
  border: none;
  font-size: 14px;
  width: 170px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: var(--color-background);
}

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.wrapper label:before {
  margin: 5px;
  content: "\f005";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper input:checked ~ label:before {
  color: #FFC107;
}

.wrapper label:hover ~ label:before {
  color: #ffdb70;
}

.wrapper label:hover:before {
  color: #FFC107;
}

@media (min-width: 768px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}

/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}